<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista Vehiculelor</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Lista Vehiculelor</h1>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>VIN</th>
    <th>LicensePlate</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>OwnerId</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vehicle : ${vehicles}">
    <td th:text="${vehicle.id}"></td>
    <td th:text="${vehicle.v,in}"></td>
    <td th:text="${vehicle.licensePlate}"></td>
    <td th:text="${vehicle.make}"></td>
    <td th:text="${vehicle.model}"></td>
    <td th:text="${vehicle.year}"></td>
    <td th:text="${vehicle.ownerId}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
